**/logs
**/node_modules
**/logsServer.txt
**/package-lock.json

# Rust
**/target
**/backend-rust/static/index.html
**/Cargo.lock

# PlatformIO
**/.pio

# VSCode
**/.vscode

# RS-232
rs-232/esp32/.gitignore
rs-232/arduino/.gitignore
**/logs
**/node_modules
**/logsServer.txt
**/package-lock.json